@page
@model IndexModel
@{
    ViewData["Title"] = "Affinity Affairs";
}
<div id="hero">
    <h1>Welcome to Affinity Affairs</h1>
    <p style="color:white;">Explore and discover exciting events happening near you.</p>
</div>

<div id="content">
    <section id="home">
        <div class="d-flex justify-content-center">
            <div class="col-md-6">
                <form method="get" asp-page="/EventDetail">
                    <div class="input-group rounded-3">
                        <input type="text" class="form-control" id="searchTerm" placeholder="Search Events" name="searchTerm">
                        <button type="submit" class="btn btn-outline-success">Search</button>
                    </div>
                </form>
            </div>
        </div>

        <h2>Chrimas Eve Events!</h2>
        <img src="~/img/e4.jpeg" alt="Event 3 Image">
        <H2>Featured Events</H2>
        <div id="featured-events">
            <div class="event">
                <h2>Royal Ascot</h2>
                <p>Details about Event 1.</p>
                <img src="~/img/e1.jpg" alt="Event 1 Image">
            </div>

            <div class="event">
                <h2>Edinburgh Festival Fringe</h2>
                <p>Details about Event 2.</p>
                <img src="~/img/e2.jpg" alt="Event 2 Image">
            </div>

            <div class="event">
                <h2>Notting Hill Carnival</h2>
                <p>Details about Event 3.</p>
                <img src="~/img/e3.jpg" alt="Event 3 Image">
            </div>
        </div>

        <h2>Our Team</h2>
        <div id="team-members">
            <div class="team-member">
                <img src="~/img/man.jpg" alt="Team Member 1">
                <h3>John Doe</h3>
                <p>Position: Founder</p>
            </div>

            <div class="team-member">
                <img src="~/img/man2.jpg" alt="Team Member 2">
                <h3>Jane Smith</h3>
                <p>Position: Marketing Manager</p>
            </div>

            <div class="team-member">
                <img src="~/img/man3.jpg" alt="Team Member 3">
                <h3>Mark Johnson</h3>
                <p>Position: Event Coordinator</p>
            </div>
        </div>
       
    </section>
</div>
