#event-details-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

    #event-details-container img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 20px;
        transition: transform 0.3s ease;
        cursor: pointer;
    }

        #event-details-container img:hover {
            transform: scale(1.1);
        }

h2 {
    margin-bottom: 10px;
}
p {
    color: black;
    margin-bottom: 10px;
}

#eventDetailMain {
    position: relative;
    height: 400px;
    background: url('/Img/n11.jpg') center/cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
}
